image: registry.gitlab.com/gitlab-org/cluster-integration/gitlab-runner-images/gitlab-runner-nodejs:latest

stages:
  - build
  - deploy

build:
  stage: build
  script:
    - echo "Compiling the code..."
    - npm install         
    - echo "Compile complete."
    - echo "Running test"
    - npm test             
    - echo "Complete tests"

deploy:
  stage: deploy
  only:
    - main  
  script:
    - npm install -g vercel  
    - vercel --confirm --prod  
  when: on_failure
 